
.article_container {
	box-shadow: 2px 2px 10px lightgrey;
  width: 250px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  /* transition: all 0.3s; */
  position: relative;
  border-radius: 5px;
}

/* .container:hover {
  transform: scale(1.05)
} */

.article_bookMark {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.article_bookMark:hover{
  cursor: pointer;
}

.article_thumbnail {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  min-width: 100%;
  height: 200px;
  overflow: hidden;
}

.article_thumbnail img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.article_link-to-article{
	text-decoration: none;	
}

.article_title {
  color: black;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;

}

.article_description {
  margin-left: 8px;
  margin-right: 8px;
  color: black;
}

