.auth-dialog{
	/* border: 1px solid black; */
	border-radius: 10px;
	margin: 20px auto ;
	display: flex; 
	flex-direction: column;
	min-width: 50%;
	max-width: 80%;
	justify-content: center;
	align-items: center;
	position:relative;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.back-x{
	position: absolute;
	left:5px;
	top:5px;

}

.auth-title{
	font-weight:800;
	font-size: 1.5em;	
}

.auth-headline{
	font-size: 0.8em;
	text-align: center;
}

.auth-headline span{
	color: blue;
	cursor: pointer;

}

.auth-content{
	width: 100% !important;
}